<section class="container flex flex-col items-center justify-center gap-1 w-full">
  <nav class="navbar">
    <ul class="navbar-menu flex">
      <li
        class="nav-link cursor-pointer link-page-product hover:opacity-80 w-32 text-center p-2 rounded-l-xl bg-color-light text-color-secondary"
        data-page="cardapio/listar-produtos">Produtos</li>
      <li
        class="nav-link cursor-pointer hover:opacity-80 w-32 text-center p-2 rounded-r-xl bg-color-secondary text-white"
        data-page="cardapio/listar-produtos">Categorias</li>
    </ul>
  </nav>
  
  <section class="table-container mt-5">
    <button
      class="button-go-page-create-category bg-color-secondary cursor-pointer hover:opacity-80 mb-3 text-white font-semibold p-2 px-5 rounded-full flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-plus">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
      Nova categoria
    </button>
    <table class="text-center block h-[65vh] w-full text-sm" style="border-spacing: 0 9px; border-collapse: separate;">
      <thead>
        <th class="py-2 px-4 pl-8 text-color-primary font-medium">ID</th>
        <th class="py-2 px-4 text-left text-color-primary font-medium">Categoria</th>
        <th class="py-2 px-4 text-color-primary font-medium">Qtd. Produtos</th>
        <th class="py-2 px-4 text-color-primary font-medium">Imagem</th>
        <th class="py-2 px-4 text-color-primary font-medium">Descrição</th>
      </thead>
      <tbody class="tbody-content">

      </tbody>
      <tfoot>
        <tr>
          <td>
            <p class="info-quantity-registers text-color-secondary font-medium text-sm">Exibindo <span
                class="quantity-show">6</span> de <span class="quantity-register">23</span> categorias</p>
          </td>
        </tr>
      </tfoot>
    </table>
    <aside class="table-navigate-container flex justify-between items-center w-full">
      <button
        class="button-prev-page rounded-full w-36 py-2 flex items-center bg-color-light text-color-secondary font-semibold justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-left">
          <path d="m15 18-6-6 6-6" />
        </svg>
        Anterior
      </button>
      <div class="dots-pages flex gap-1">
        <div
          class="dot bg-color-secondary text-white font-semibold flex w-5 h-5 items-center justify-center p-4 rounded-lg">
          <span class="page-number">1</span>
        </div>
        <div
          class="dot bg-color-light text-color-secondary font-semibold flex w-5 h-5 items-center justify-center p-4 rounded-lg">
          <span class="page-number">2</span>
        </div>
        <div
          class="dot bg-color-light text-color-secondary font-semibold flex w-5 h-5 items-center justify-center p-4 rounded-lg">
          <span class="page-number">3</span>
        </div>
        <div
          class="dot bg-color-light text-color-secondary font-semibold flex w-5 h-5 items-center justify-center p-4 rounded-lg">
          <span class="page-number">4</span>
        </div>
        <div
          class="dot bg-color-light text-color-secondary font-semibold flex w-5 h-5 items-center justify-center p-4 rounded-lg">
          <span class="page-number">5</span>
        </div>
      </div>
      <button
        class="button-next-page rounded-full w-36 py-2 flex items-center bg-color-secondary text-white font-semibold justify-center">
        Próximo
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-right">
          <path d="m9 18 6-6-6-6" />
        </svg>
      </button>
    </aside>
  </section>

  <section
    class="show-image-container absolute z-20 top-0 hidden left-0 bg-black bg-opacity-80 w-screen h-screen items-center justify-center">
    <div class="bg-white px-8 py-5 rounded-xl w-96 relative flex flex-col">
      <div class="w-full flex justify-between items-center">
        <img src="./assets/images/logo.svg" class="w-24" alt="Logo Padoca Dona Inês">
        <button
          class="button-close-show-image-container block h-12 w-12 flex items-center justify-center text-color-primary rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-x">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
      <img src="./assets/images/products/doce-categoria.png"
        class="category-image-modal w-44 mt-5 mx-auto object-cover rounded-xl bg-color-light shadow-md border-2 border-color-secondary">
      <h3
        class="text-color-secondary font-semibold text-center mt-4 p-4 py-2 w-max mx-auto bg-color-light rounded-xl category-name-modal">
        Salgados</h3>
    </div>
  </section>

  <section
    class="show-description-container absolute z-20 top-0 hidden left-0 bg-black bg-opacity-80 w-screen h-screen items-center justify-center">
    <div class="bg-white px-8 py-5 rounded-xl w-96 relative flex flex-col">
      <div class="w-full flex justify-between items-center">
        <img src="./assets/images/logo.svg" class="w-24" alt="Logo Padoca Dona Inês">
        <button
          class="button-close-show-description-container block h-12 w-12 flex items-center justify-center text-color-primary rounded-xl">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-x">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
      <img src="./assets/images/products/doce-categoria.png"
        class="category-image-modal w-44 mt-5 mx-auto object-cover rounded-xl bg-color-light shadow-md border-2 border-color-secondary">
      <h3x
        class="text-color-secondary font-semibold text-center mt-4 p-4 py-2 w-max mx-auto bg-color-light rounded-xl category-name-modal">
        Salgados</h3x>
      <p class="category-description-modal text-center text-color-primary opacity-80 mt-5">Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Atque nulla iusto,
        officia a libero aliquid distinctio esse hic reprehenderit
        eveniet soluta obcaecati voluptates. Provident.</p>
  </section>

  <section
    class="show-confirme-delete-category-container absolute z-20 top-0 hidden left-0 bg-black bg-opacity-80 w-screen h-screen items-center justify-center">
    <div class="bg-white px-8 py-5 rounded-xl w-[500px] relative flex flex-col">
      <button
        class="button-close-show-image-container absolute top-2 right-2 block h-12 w-12 flex items-center justify-center text-color-primary rounded-xl">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
      <div class="w-full flex gap-5">
        <div class="h-12 flex-none w-12 flex items-center justify-center rounded-full bg-color-secondary text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert h-5 w-5">
            <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
            <path d="M12 9v4" />
            <path d="M12 17h.01" />
          </svg>
        </div>
        <div>
          <h3 class="font-bold text-xl text-color-secondary mb-3">Deletar categoria</h3>
          <p class="text-zinc-400">Tem certeza de que deseja deletar essa categoria? Ao deletar, todos os produtos
            vinculados serão excluidos.</p>
        </div>
      </div>
      <div class="buttons flex gap-2 justify-end mt-10">
        <button
          class="button-cancel-delete-category  py-2 px-4 text-color-secondary border border-color-secondary bg-color-light font-semibold rounded-xl">Cancelar</button>
        <button
          class="button-confirm-delete-category py-2 px-4 text-white bg-color-primary font-semibold rounded-xl">Excluir</button>
      </div>
    </div>
  </section>
</section>